<% list_name ||= '' %>

<table>
  <thead>
    <tr>
      <th class='listed-baby-name__rank'>Rank</th>
      <th class='listed-baby-name__name'>Baby Name</th>
      <th class='listed-baby-name__suggested-by'>Suggested By</th>
      <th class='listed-baby-name__vote-count'>Vote Count</th>
      <% if logged_in? %>
        <th class='listed-baby-name__vote-count'>Vote</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% name_list.each_with_index do |baby_name, index| %>
      <tr>
        <td class='listed-baby-name__rank-data'>
          <%= index + 1 %>
        </td>
        <td class='listed-baby-name__name-data'>
          <div class='listed-baby-name__featured'>
            <%= link_to baby_name.name, baby_name,
                        id: "#{list_name}show_baby_name_#{baby_name.id}" %>
          </div>
        </td>
        <td class='listed-baby-name__suggested-by-data'>
          <%= link_to baby_name.user,
                      id: "#{list_name}show_user_#{baby_name.user.try(:id)}" do %>
            <% if baby_name.user %>
              <p>
                <%= image_tag baby_name.user.profile_pic.url(:thumb) %>
              </p>
            <% end %>
            <p><%= baby_name.user_handle %></p>
          <% end %>
        </td>
        <td class='listed-baby-name__vote-count-data'><%= baby_name.vote_count %></td>
        <% if logged_in? %>
          <td class='listed-baby-name__vote-count-data'>
            <%= link_to(votes_path(baby_name,
                        vote: { vote: 'true',
                                voteable_type: 'BabyName',
                                voteable_id: baby_name.id },
                        tab_name: list_name),
                        method: 'post',
                        id: "#{list_name}baby_name_up_vote_#{baby_name.id}") do %>
              <span>+</span>
            <% end %>
            <span>/</span>
            <%= link_to(votes_path(baby_name,
                        vote: { vote: 'false',
                                voteable_type: 'BabyName',
                                voteable_id: baby_name.id },
                        tab_name: list_name),
                        method: 'post',
                        id: "#{list_name}baby_name_down_vote_#{baby_name.id}") do %>
              <span>-</span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
