
<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="<%= tab_status('') %> tab-link">
      Top Names
    </a>
    <div class="tab-content">
      <%= render 'baby_names/partials/list', name_list: @most_popular %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a id='latest' href="javascript:void(0)" class="<%= tab_status('latest') %> tab-link">
      Latest Names
    </a>
    <div class="tab-content">
      <%= render 'baby_names/partials/list',
                 name_list: @latest, list_name: 'latest' %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a id='all_names' href="javascript:void(0)" class="<%= tab_status('all_names') %> tab-link">
      All Names
    </a>
    <div class="tab-content">
      <%= render 'baby_names/partials/alphabetic_names' %>
    </div>
  </li>
</ul>

<% if logged_in? %>
  <%= link_to 'Add Baby Name',
              new_baby_name_path,
              class: 'nav-button',
              id: 'bottom_new_baby_name' %>
<% end %>
