<p>
  <strong>Name:</strong>
</p>

<h1><%= @baby_name.name %></h1>

<p>
  <strong>Background:</strong>
  <%= @baby_name.background %>
</p>

<p>
  <strong>Suggested By:</strong>
  <% if @baby_name.user %>
    <span>
      <%= image_tag @baby_name.user.profile_pic.url(:thumb) %>
    </span>
    <%= link_to @baby_name.user_handle, user_path(@baby_name.user) %>
  <% else %>
    <%= @baby_name.user_handle %>
  <% end %>
</p>

<% if logged_in? %>
  <% if @baby_name.user == current_user %>
    <%= link_to 'Edit', edit_baby_name_path(@baby_name) %>
  <% end %>

  <div>
    <%= simple_form_for :comment, { url: comments_path} do |f| %>
      <%= f.label :body, 'Add a Comment' %>
      <br>
      <%= f.input_field :body,
                  label: 'Add a Comment',
                  as: :text,
                  id: "baby_name_#{@baby_name.id}_comment" %>
      <br>
      <%= f.input :commentable_id,
                  as: :hidden,
                  input_html: { value: @baby_name.id } %>
      <%= f.input :commentable_type,
                  as: :hidden, input_html: { value: @baby_name.class } %>
      <%= f.input :user_id,
                  as: :hidden, input_html: { value: current_user.id } %>

      <%= f.button :submit, id: 'submit_new_comment' %>
    <% end %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan='3'>User</th>
      <th colspan='8'>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @baby_name.comments.each do |comment| %>
      <tr>
        <td colspan='3'>
          <%= link_to comment.creator.handle, comment.creator,
                      id: "show_user_#{comment.creator.try(:id)}" %>
        </td>
        <td colspan='8'>
          <%= comment.body %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
