<p>
  <strong>Name:</strong>
</p>

<div class='baby-name-show__featured'><%= @baby_name.name %></div>

<p>
  <strong>Suggested By:</strong>
  <div class='baby-name-show__suggested-by'>
    <% if @baby_name.user %>
      <p>
        <%= image_tag @baby_name.user.profile_pic.url(:thumb) %>
      </p>
      <%= link_to @baby_name.user_handle, user_path(@baby_name.user) %>
    <% else %>
      <%= @baby_name.user_handle %>
    <% end %>
  </div>
</p>

<p>
  <strong>Suggester's Notes</strong>
  <div class='baby-name-show__background'>
    <%= @baby_name.background %>
  </div>
</p>

<% if logged_in? %>
  <p>
    <strong>Vote:</strong>
  </p>

  <p>
    <%= link_to(votes_path(@baby_name,
                vote: { vote: 'true',
                        voteable_type: 'BabyName',
                        voteable_id: @baby_name.id },
                tab_name: 'user'),
                method: 'post',
                id: "baby_name_up_vote_#{@baby_name.id}") do %>
      <span>+ Vote For This Name</span>
    <% end %>
    <span>/</span>
    <%= link_to(votes_path(@baby_name,
                vote: { vote: 'false',
                        voteable_type: 'BabyName',
                        voteable_id: @baby_name.id },
                tab_name: 'user'),
                method: 'post',
                id: "baby_name_down_vote_#{@baby_name.id}") do %>
      <span>- Vote Against This Name</span>
    <% end %>
  </p>

  <% if current_user.favorites.include? @baby_name %>
    <%= button_to "UnFavorite this name: #{@baby_name.name.capitalize}",
                  favorite_path(
                  favorite: { baby_name_id: @baby_name.id,
                              user_id: current_user.id }),
                  method: :delete,
                  id: "unfavorite_baby_name_#{@baby_name.id}" %>
  <% else %>
    <%= button_to "Favorite this name: #{@baby_name.name.capitalize}",
                  favorites_path(
                  favorite: { baby_name_id: @baby_name.id,
                              user_id: current_user.id }),
                  method: :post,
                  id: "favorite_baby_name_#{@baby_name.id}" %>
  <% end %>
<% end %>

<hr>

<% if logged_in? %>
  <% if @baby_name.user == current_user %>
    <%= link_to 'Edit', edit_baby_name_path(@baby_name) %>
  <% end %>

  <div>
    <%= simple_form_for :comment, { url: comments_path} do |f| %>
      <%= f.label :body, 'Add a Comment' %>
      <br>
      <%= f.input_field :body,
                        label: 'Add a Comment',
                        as: :text,
                        id: "baby_name_#{@baby_name.id}_comment" %>
      <br>
      <%= f.input :commentable_id,
                  as: :hidden,
                  input_html: { value: @baby_name.id } %>
      <%= f.input :commentable_type,
                  as: :hidden, input_html: { value: @baby_name.class } %>
      <%= f.input :user_id,
                  as: :hidden, input_html: { value: current_user.id } %>

      <%= f.button :submit, id: 'submit_new_comment' %>
    <% end %>
  </div>
  <hr>
<% end %>


<table>
  <thead>
    <tr>
      <th colspan='3'>User</th>
      <th colspan='8'>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @baby_name.comments.order('created_at DESC').each do |comment| %>
      <tr>
        <td colspan='3'>
          <%= link_to comment.creator.handle, comment.creator,
                      id: "show_user_#{comment.creator.try(:id)}" %>
        </td>
        <td colspan='8'>
          <%= comment.body %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
