<p>
  <strong>Name:</strong>
  <%= @baby_name.name %>
</p>
<p>
  <strong>Background:</strong>
  <%= @baby_name.background %>
</p>
<p>
  <strong>Suggested By:</strong>
  <% if @baby_name.user %>
    <%= link_to @baby_name.user_handle, user_path(@baby_name.user) %> |
  <% else %>
    <%= @baby_name.user_handle %>
  <% end %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_baby_name_path(@baby_name) %> |
<% end %>

<%= link_to 'All Names', baby_names_path %>
