<div class='about'>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/lGdpkJu0y9s" frameborder="0" allowfullscreen></iframe>
  <h1>We're having a...</h1>

  <p>So, to keep the large foot print of friends and family around the world
  together, I made an app: the <strong>Baby Namer 1800</strong></p>

  <p>Here you can:</p>

  <ul>
    <li>Create a profile</li>
    <li>Suggest Names</li>
    <li>Vote Names Up or Down</li>
    <li>'Favorite' names and have them on your profile</li>
    <li>Comment on other People's Profiles and Suggested Names</li>
    <li>Create a request for other features</li>
  </ul>

  <p>I'm hoping to stay connected, so don't hesitate to sign up and make a suggestion.</p>

  <%= button_to 'Learn more about how to use the exciting Baby Namer 1800', new_user_path, method: :get %>

  <hr>

  <% unless logged_in? %>
    <%= link_to 'Sign In', new_session_path %> or
    <%= link_to 'Sign Up', new_user_path %> to comment on this video
  <% end %>

  <% if logged_in? %>
    <hr>
    <div>
      <%= simple_form_for :comment, { url: comments_path} do |f| %>
        <%= f.label :body, 'Add a Comment' %>
        <br>
        <%= f.input_field :body,
                    label: 'Add a Comment', as: :text, id: 'about_page_comment' %>
        <br>
        <%= f.input :commentable_id,
                    as: :hidden,
                    input_html: { value: 1 } %>
        <%= f.input :commentable_type,
                    as: :hidden, input_html: { value: 'PageAbout' } %>
        <%= f.input :user_id,
                    as: :hidden, input_html: { value: current_user.id } %>

        <%= f.button :submit, id: 'submit_new_comment' %>
      <% end %>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th colspan='3'>User</th>
        <th colspan='8'>Comment</th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td colspan='3'>
            <% if comment.creator %>
              <p>
                <%= image_tag comment.creator.profile_pic.url(:thumb) %>
              </p>
            <% end %>
            <%= link_to comment.creator.handle, comment.creator,
                        id: "show_user_#{comment.creator.try(:id)}" %>
          </td>
          <td colspan='8'>
            <%= comment.body %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

</div>
